# Archivos y carpetas de NetBeans
nbproject/private/
nbproject/configs/
*.orig
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de salida
build/
dist/

# Archivos de configuración local
*.log
*.env
